.headerLOLMenu {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 300px;
    /* Kích thước chữ */
    color: #43C4BB
        /* Màu chữ */
}